@page "/author"
@using Library.Application.Dtos.AuthorDtos;
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<h1>Authors</h1>

@if (loading)
{
    <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
}
else if (authors == null || !authors.Any())
{
    <MudAlert Severity="Severity.Error">No authors found</MudAlert>
}
else
{
    <MudDataGrid Items="@authors.Take(4)">
        <Columns>
            <PropertyColumn Property="x => x.Id" />
            <PropertyColumn Property="x => x.Name" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Update</MudButton>
                        <MudButton Size="@Size.Small" OnClick="UpdateAuthor" Variant="@Variant.Filled" Color="@Color.Primary">Delete</MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>

    </MudDataGrid>
}